<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to RMS!</h1>
    <p>
      RMS is the online scheduling system used by Waterloo CRT<br />
      You can now log in to RMS using the following information<br />
      Login: <%= @user.email %><br />
      Password: <%= @password %><br />
      Research shows some responders don't like their default password, but don't worry, you can change it from the profile page once you've logged in.<br />
      Login now: <a href="http://young-mountain-623.heroku.com">http://young-mountain-623.heroku.com</a>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
