<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your RMS password has been reset</h1>
    <p>
      You can now log in to RMS using the following information<br />
      Login: <%= @user.email %><br />
      Password: <%= @password %>
    </p>
    <p>Have a great day!</p>
  </body>
</html>
