<table class='table table-striped table-bordered'>
<tr>
<th>Name</th>
<th>Username</th>
<% shift_types.each do |n| %>
  <th><%= n.name %></th>
<% end %>
<th>Cert Expiration</th>
<th>Primary/Secondary</th>
<th>Suspended</th>
<th>Admin</th>
<th>Delete</th>
</tr>
<%= render users, :shift_types => shift_types %>
</table>
