<div class='well'>
  <div class='page-header'><h1>RMS Reset</h1></div>
  <p>RMS has been reset for the next term.</p>
  <p>Please make the new director of scheduling an admin on the responders page</p>
  <p>Thank you for all of your hard work this term! As a token of appreciation, please enjoy this cat!</p>
  <img src='http://placekitten.com/640/480'></img>
</div>
