<div class='page-header'><h1>Responders</h1></div>

<%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
<% end %>

<a class="btn btn-success" href="<%= new_user_path %>"><i class="icon-asterisk icon-white"></i> New Responder</a>
<br />
<br />
<%= render :partial => "users/table", :locals => {:users => @users, :shift_types => @shift_types} %>
