<% if shifts.empty? %>
<p>There are no shifts to display at this time.</p>
<% else %>
<table class='table table-striped table-bordered '>
<tr>
<th>Date</th>
<th>Name</th>
<th>Location</th>
<th>Start Time</th>
<th>End Time</th>
<th>Primary</th>
<th>Secondary</th>
<th>Rookie</th>
<th>Type</th>
<th>AED</th>
<th>Vest</th>
<th>Note</th>
</tr>
<%= render shifts %>
</table>
<% end %>
