<h1>Shifts</h1>
<p>You will only be able to take shifts which you meet the criteria for. This means that secondary responders cannot take primary shifts. Furthermore, once you have reached the quota for your hours you will not be able to take shifts until 48 hours before they begin. You can see a report of your hours and shifts by clicking "profile" in the navigation bar.</p>
<p>If a shift changes or is cancelled, those affected will be notified by telephone or e-mail and details will be posted here within 24 hours of the shift. If you notice any errors, please contact the director of scheduling ASAP.</p>
<%= link_to "Create a new shift", new_shift_path if admin?%>
<% unless @shifts.empty? %>
<%= render 'shifts/table', :shifts => @shifts %>
<% end %>
