<%= form_tag(reset_users_path, :method => "put") do %>
  <div class="field">
    <%= label_tag :email %><br />
    <%= text_field_tag :email %>
  </div>
  <div class="actions">
    <%= submit_tag "Submit" %>
  </div>
<% end %>
