<h1>About</h1>
<p>For years the CRT scheduling system was extremely inefficient. The scheduler would maintain a spreadseet with all of the shifts, and had to recopy the spreadsheet to the website each update. When somebody wanted a shift they would send an email to the scheduler. The scheduler would then send them an confirming the shift, and then send an email to the other 10 people who wanted the shift but requested it after the first person.</p>

<p>RMS was created by Justin Vanderheide in the Winter 2011 term to improve the way scheduling works. Now responders can take shifts without sending an email, and the schedule is immedietly updated to show that the shift is taken.</p>
