<h1>End of Term</h1>
<p>Warning, make sure that you have finished your end of term report before you reset RMS for the end of the term</p>
<p>The following will take place...
<ul>
<li>All shifts will be cleared from the database</li>
<li>All responders will have their status set to "suspended"</li>
<li>All responders who have had 0 hours for two terms in a row will be removed from RMS</li>
</ul>
</p>

<p>If you are sure that you wish to proceed please complete the following form.</p>

<%= render "eot_form" %>
