<div class='well'>
  <div class='page-header'><h1>End of Term</h1></div>
  <p>Warning, make sure that you have finished your end of term report before you reset RMS for the end of the term</p>
  <p>The following will take place...
  <ul>
  <li>All shifts before the selected date will be cleared from the database</li>
  <li>A celebratory kitten will be prepared</li>
  </ul>
  </p>
  <%= form_tag(eot_users_path, :method => :put) do %>
    <%= select_date Date.today, :prefix => :eot_date %>
    <p>If you are sure that you wish to remove all shifts before the selected date please click the button</p>
    <%= submit_tag("Reset RMS".html_safe, :class => 'btn btn-large btn-danger', data: { :confirm => "Are you sure you want to reset RMS?" }, :title => "Nuking RMS") %>
  <% end %>
</div>
