<h1>RMS - CRT Online Scheduling System</h1>
<p>Welcome to RMS, the online scheduling system for UWaterloo CRT. Click log in, in the navigation bar to see the available shifts, and sign up for them.</p>
<h1>Winter 2011 Statistics</h1>
<p>Over the course of this term CRT provided 475.34 man hours of coverage at a variety of events across campus (~80 shifts were covered).</p>
<p> Top Responders </p>
<table>
<tr>
<th>Responder</th>
<th>Shift Hours</th>
</tr>
<tr>
<td>John Kim</td>
<td>23</td>
</tr>
<tr>
<td>Michael Li</td>
<td>16.5</td>
</tr>
<tr>
<td>Eric Kennedy / Matthew Wong</td>
<td>15</td>
</tr>
</table>
<p>In recognition of all of John Kim's hard work, dedication, and his outstanding James Bond impersonation, his name will be emblazoned with <span class='award'>gold letters</span> on RMS for eternity.</p>
<p>Once again, thanks everyone for a great term.<br />-Justin Vanderheide</p>
