<h1>RMS - CRT Online Scheduling System</h1>
<p>Welcome to RMS, the online scheduling system for UWaterloo CRT. Click log in, in the top right corner to see the available shifts, and sign up for them.</p>
<h1>Recent Updates</h1>
<ul>
  <li>You can now edit your password from your profile page. Don't change yours though GJ!</li>
  <li>You can now have your password reset if you forget your password. There is a link to this on the login page.</li>
  <li>The profile page now says Primary/Secondary/Suspended. Suspended means you cannot go out on shift because you still need to do a shift test, or your certs are not on file. Contact the scheduler for more details</li>
  <li>Secondaries can now take the primary slot for FnP shifts, since FnP shifts do not require a primary responder to be present</li>
</ul>
